<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/UI/style.css">
    <script src="js.js"></script>
    {{$url := .refreshPageURL}} 
    {{$userType := .userType}}
</head>
    <html>

    <header>
      <div class="header">
          <h1>forum</h1>
          <!-- Check if User is logged in -->
          <div class="left-section">
          {{if .IsLoggedIn}}
              {{ range .Session}}
          <span class="greetings"> Hello, {{ .Username }}</span>
              {{end}}
          </div>
  
          <!-- Log out button -->
          <div class="right-section">
            {{if .hasNotifications}}
            <div id="notifications" data-url="{{ $url }}">
            <button onclick="seeNotifications()" class="notification-button">
                <img src="media/bell.png" width="60" height="50">
            </button>
          </div>
            {{end}}
            <form action="/profile" method="POST">
              <button type="submit" class="profile">
                  <img src="https://www.freepnglogos.com/uploads/hacker-png/hacker-interpol-arrests-suspected-anonymous-hackers-motley-5.png" width="45" height="45">
              </button>
          </form>
            <a href="/" class="status-button">Home</a>
            <form action="/logout" method="POST">
                <button class="status-button" type="submit">Log out</button>
            </form>
        </div>
  
          {{else}}
  
          <!-- If not logged in, show Login and register -->
          <div class="left-section">
              <span class="greetings"> Welcome, Guest</span>
          </div>
  
          <div class="right-section">
              <a href="/" class="status-button">Home</a>
              <a href="/login" class="status-button">Login</a>
              <a href="/register" class="status-button">Register</a>
          </div>
          {{end}}
          <br><br>
      </div>
    </header>
              
        <body>
            <br><br>
            {{ if ne .userType "user"}}
            <h2 class="cat-name">~/Moderation </h2>
            {{ end }}
            <br><br>
            {{ if eq .userType "admin"}}
            <div class="buttons-container">
                <a href="/manage-cats" class="manage-cat-button">Manage Categories</a>
                <a href="/users" class="manage-cat-button ">Users</a>
                <a href="/create-ticket" class="manage-cat-button">Create a ticket</a>
            </div>
            {{ end }}            
            
            <br>
            <div class="posts-container">
              <span class="mod-profile-message"> ~/tickets</span>  
              {{$isLoggedIn := .IsLoggedIn}}
              {{$currentUser := .currentUserID}} 
              {{if ne $userType "user"}}
                {{ range .Posts}}
                {{$postflag := .Flag}}
                <div class="posts-card">
                    <p class="posts-title" id="title-{{.ID}}">{{ .Title }} {{ .ID }}</p>
                    <p class="posts-description" id="post-{{.ID}}">{{ .Body }}</p>
                    {{ if ne .Media "false"}}
                    <img src="media/{{ .Media}}" class="posts-media">
                    {{end}}
                    <p class="created-at">Posted by: {{ .Username }}</p>
                    <p class="created-at">Created on: {{ .CreatedAt }}</p>
                            <!-- Delete/edit post -->
                            {{ if eq $userType "mod"}}
                            <div class="inline-buttons">
                              <form method="POST" action="/delete-post">
                                <input type="hidden" name="item_id" value="{{ .ID }}">
                                <input type="hidden" name="url" value="{{ $url }}">
                                <button class="delete-button" type="submit" name="action" value="delete">Delete</button>
                                </form>
                                <div id="modify-post-{{.ID}}"></div>
                                <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyPost(this)" class="edit-button">Edit</button>
                              </div>
                                <br>
                                <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagPost(this)" class="flag-button">Flag/Remove-Flag</button>
                                <div id="flag-post-{{.ID}}">
                                  {{if $postflag}}
                                  <div class="flagcomment-div">
                                  <img src="media/flag.png" height="50" width="50">
                                  </div>
                                  {{end}}
                                
                            </div>


                            {{end}}
                            {{ if eq $userType "admin"}}
                            <form method="POST" action="/delete-post">
                            <input type="hidden" name="item_id" value="{{ .ID }}">
                            <input type="hidden" name="url" value="{{ $url }}">
                            <button class="delete-button" type="submit" name="action" value="delete">Delete</button>
                            </form>
                            <div id="modify-post-{{.ID}}"></div>
                            <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyPost(this)" class="edit-button">Edit</button>
                            <br>
                            <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagPost(this)" class="flag-button">Flag/Remove-Flag</button>
                            <div id="flag-post-{{.ID}}">
                              {{if $postflag}}
                              <div class="flagcomment-div">
                              <img src="media/flag.png" height="10" width="10">
                              </div>
                              {{end}}
                            </div>
                            {{end}}
                    <!-- Comments Section -->
                    {{if .Comments}}
                    <br><br>
                    <h3>Comments</h3>
                      <div class="comments-container">
                          {{range .Comments}}
                          {{$comflag := .Flag}}
                          <div class="comments-card">
                            <p class="comments-body" id="comment-{{ .ID}}">{{ .Body }}</p>
                            <p class="created-at">Posted by: {{ .Username }}</p>
                            <p class="created-at">Created on: {{ .CreatedAt }}</p>
                                    <!-- Delete/edit comment -->
                                      {{ if eq $userType "mod"}}
                                      <div class="inline-buttons">
                                      <form method="POST" action="/delete-comment">
                                      <input type="hidden" name="item_id" value="{{ .ID }}">
                                      <input type="hidden" name="url" value="{{ $url }}">
                                      <button class="delete-button" type="submit">Delete</button>
                                      </form>
                                      <div id="modify-comment-{{.ID}}"></div>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyComment(this)" class="edit-button">Edit</button>
                                    </div>
                                      <br>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagComment(this)" class="flag-button">Flag/Remove-Flag</button>
                                      <div id="flag-comment-{{.ID}}">
                                      {{if $comflag}}
                                      <div class="flagcomment-div">
                                      <img src="media/flag.png" height="50" width="50">
                                      </div>
                                      {{end}}
                                      
                                    </div>
                                      {{end}}
                                      {{ if eq $userType "admin"}}
                                      <form method="POST" action="/delete-comment">
                                      <input type="hidden" name="item_id" value="{{ .ID }}">
                                      <input type="hidden" name="url" value="{{ $url }}">
                                      <button class="delete-button" type="submit">Delete</button>
                                      </form>
                                      <div id="modify-comment-{{.ID}}"></div>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyComment(this)" class="edit-button">Edit</button>
                                      <br>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagComment(this)" class="flag-button">Flag/Remove-Flag</button>
                                      <br>
                                      <div id="flag-comment-{{.ID}}">
                                        {{if $comflag}}
                                        <div class="flagcomment-div">
                                        <img src="media/flag.png" height="50" width="50">
                                        </div>
                                        {{end}}
                                      </div>
                                      {{end}}
                          </div>
                          {{end}}
                      </div>
                    {{end}}
                    {{if $isLoggedIn}}
                    <div class="comment-field-div">
                    <form id="comment-field" action="/commentfield" method="POST">
                    <label for="comment" class="comment-title"><h4>Comment:</h4></label>
                    <input type ="text" id="comment" name="comment" class="comment-field" required>
                    <input type="hidden" name="postID" value="{{.ID}}">
                    <input type="hidden" name="url" value="{{ $url }}">
                    <input type="submit" value="Send" class="post-button">
                   </form>
                  </div>
                  {{end}}
                  </div>
                {{end}}
            </div>
             <!-- flagged posts seciton -->
             <br>
             <br>
             <div class="posts-container">
              <span class="mod-profile-message"> ~/Flagged Posts</span> 
                {{ range .FlaggedPosts}}
                {{$postflag := .Flag}}
                <div class="posts-card">
                    <p class="posts-title" id="title-{{.ID}}">{{ .Title }}</p>
                    <p class="posts-description" id="post-{{.ID}}">{{ .Body }}</p>
                    {{ if ne .Media "false"}}
                    <img src="media/{{ .Media}}" class="posts-media">
                    {{end}}
                    <p class="created-at">Posted by: {{ .Username }}</p>
                    <p class="created-at">Created on: {{ .CreatedAt }}</p>
                    <p> <img src="https://e7.pngegg.com/pngimages/263/227/png-clipart-man-in-gray-notched-lapel-coat-borat-glasses-at-the-movies-sacha-baron-cohen-thumbnail.png" width="30" height="30" alt="like icon">{{ .TotalLikes }} <img class="dislike-image-p" src="https://pngimg.com/d/poop_PNG46.png" width="25" height="25" alt="dislike icon">{{ .TotalDislikes }}</p>

                            <!-- Posts Like Section -->
                            {{if $isLoggedIn}}
                            <form method="POST" action="/like">
                              <input type="hidden" name="item_id" value="{{ .ID }}">
                              <input type="hidden" name="item_type" value="post">
                              <input type="hidden" name="url" value= "{{ $url }}">
                              <button class="like-button" type="submit" name="action" value="like">Like</button>
                              <button class="dislike-button" type="submit" name="action" value="dislike">Dislike</button>
                            </form>
                            {{end}}
                            <!-- Delete/edit post -->
                            {{ if eq $userType "user"}}
                            {{ if eq .UserID $currentUser}}
                            <form method="POST" action="/delete-post">
                            <input type="hidden" name="item_id" value="{{ .ID }}">
                            <input type="hidden" name="url" value="{{ $url }}">
                            <button class="delete-button" type="submit" name="action" value="delete">Delete</button>
                            </form>
                            <div id="modify-post-{{.ID}}"></div>
                            <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyPost(this)" class="edit-button">Edit</button>
                            {{end}}
                            {{end}}
                            {{ if eq $userType "mod"}}
                            <div class="inline-buttons">
                            <form method="POST" action="/delete-post">
                            <input type="hidden" name="item_id" value="{{ .ID }}">
                            <input type="hidden" name="url" value="{{ $url }}">
                            <button class="delete-button" type="submit" name="action" value="delete">Delete</button>
                            </form>
                            <div id="modify-post-{{.ID}}"></div>
                            <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyPost(this)" class="edit-button">Edit</button>
                          </div>
                            <br>
                            <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagPost(this)" class="flag-button">Flag/Remove-Flag</button>
                            <div id="flag-post-{{.ID}}">
                              {{if $postflag}}
                              <div class="flagcomment-div">
                              <img src="media/flag.png" height="50" width="50">
                              </div>
                              {{end}}
                            </div>
                            {{end}}
                            {{ if eq $userType "admin"}}
                            <form method="POST" action="/delete-post">
                            <input type="hidden" name="item_id" value="{{ .ID }}">
                            <input type="hidden" name="url" value="{{ $url }}">
                            <button class="delete-button" type="submit" name="action" value="delete">Delete</button>
                            </form>
                            <div id="modify-post-{{.ID}}"></div>
                            <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyPost(this)" class="edit-button">Edit</button>
                            <br>
                            <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagPost(this)" class="flag-button">Flag/Remove-Flag</button>
                            <div id="flag-post-{{.ID}}">
                              {{if $postflag}}
                              <div class="flagcomment-div">
                              <img src="media/flag.png" height="50" width="50">
                              </div>
                              {{end}}
                            </div>
                            {{end}}
                    <!-- Comments Section -->
                    {{if .Comments}}
                    <h3>Comments</h3>
                      <div class="comments-container">
                          {{range .Comments}}
                          {{$comflag := .Flag}}
                          <div class="comments-card">
                            <p class="comments-body" id="comment-{{ .ID}}">{{ .Body }}</p>
                            <p class="created-at">Posted by: {{ .Username }}</p>
                            <p class="created-at">Created on: {{ .CreatedAt }}</p>
                            <p class="created-at"><img src="https://e7.pngegg.com/pngimages/263/227/png-clipart-man-in-gray-notched-lapel-coat-borat-glasses-at-the-movies-sacha-baron-cohen-thumbnail.png" width="20" height="20" alt="like icon">{{ .TotalLikes }} <img class="dislike-image-c" src="https://pngimg.com/d/poop_PNG46.png" width="19" height="19" alt="dislike icon">{{ .TotalDislikes }}</p>

                                    <!-- Comments Like Section -->
                                    {{if $isLoggedIn}}
                                    <form method="POST" action="/like">
                                      <input type="hidden" name="item_id" value="{{ .ID }}">
                                      <input type="hidden" name="item_type" value="comment">
                                      <input type="hidden" name="url" value="{{ $url }}">
                                      <button type="submit" name="action" value="like" class="like-button">like</button>
                                      <button type="submit" name="action" value="dislike" class="dislike-button">dislike</button>
                                    </form>
                                    {{end}}
                                    <!-- Delete/edit comment -->
                                    {{ if eq $userType "user"}}
                                    {{ if eq .UserID $currentUser}}
                                    <form method="POST" action="/delete-comment">
                                      <input type="hidden" name="item_id" value="{{ .ID }}">
                                      <input type="hidden" name="url" value="{{ $url }}">
                                      <button class="delete-button" type="submit">Delete</button>
                                      </form>
                                      <div id="modify-comment-{{.ID}}"></div>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyComment(this)" class="edit-button">Edit</button>
                                      {{end}}
                                      {{end}}
                                      {{ if eq $userType "mod"}}
                                      <div class="inline-buttons">
                                      <form method="POST" action="/delete-comment">
                                      <input type="hidden" name="item_id" value="{{ .ID }}">
                                      <input type="hidden" name="url" value="{{ $url }}">
                                      <button class="delete-button" type="submit">Delete</button>
                                      </form>
                                      <div id="modify-comment-{{.ID}}"></div>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyComment(this)" class="edit-button">Edit</button>
                                    </div>
                                      <br>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagComment(this)" class="flag-button">Flag/Remove-Flag</button>
                                      <div id="flag-comment-{{.ID}}">
                                      {{if $comflag}}
                                      <div class="flagcomment-div">
                                      <img src="media/flag.png" height="50" width="50">
                                      </div>
                                      {{end}}
                                      </div>
                                      {{end}}
                                      {{ if eq $userType "admin"}}
                                      <form method="POST" action="/delete-comment">
                                      <input type="hidden" name="item_id" value="{{ .ID }}">
                                      <input type="hidden" name="url" value="{{ $url }}">
                                      <button class="delete-button" type="submit">Delete</button>
                                      </form>
                                      <div id="modify-comment-{{.ID}}"></div>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyComment(this)" class="edit-button">Edit</button>
                                      <br>
                                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagComment(this)" class="flag-button">Flag/Remove-Flag</button>
                                      <br>
                                      <div id="flag-comment-{{.ID}}">
                                        {{if $comflag}}
                                        <div class="flagcomment-div">
                                        <img src="media/flag.png" height="50" width="50">
                                        </div>
                                        {{end}}
                                      </div>
                                      {{end}}
                          </div>
                          {{end}}
                      </div>
                    {{end}}
                    {{if $isLoggedIn}}
                    <div class="comment-field-div">
                    <form id="comment-field" action="/commentfield" method="POST">
                    <label for="comment" class="comment-title"><h4>Comment:</h4></label>
                    <input type ="text" id="comment" name="comment" class="comment-field" required>
                    <input type="hidden" name="postID" value="{{.ID}}">
                    <input type="hidden" name="url" value="{{ $url }}">
                    <input type="submit" value="Send" class="post-button">
                   </form>
                  </div>
                  {{end}}
                  </div>
                {{end}}
            </div>
            <br>
            <br>
            <div class="posts-container">
              <span class="mod-profile-message"> ~/Flagged Comments</span>
               
              {{range .FlaggedComments}}
              {{$comflag := .Flag}}
              <div class="comments-container">
                <div class="comments-card">
                <p class="comments-body" id="comment-{{ .ID}}">{{ .Body }}</p>
                <p class="created-at">Posted by: {{ .Username }}</p>
                <p class="created-at">Created on: {{ .CreatedAt }}</p>
                {{ if eq $userType "mod"}}
                <form method="POST" action="/delete-comment">
                <input type="hidden" name="item_id" value="{{ .ID }}">
                <input type="hidden" name="url" value="{{ $url }}">
                <button class="delete-button" type="submit">Delete</button>
                </form>
                <div id="modify-comment-{{.ID}}"></div>
                <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyComment(this)" class="edit-button">Edit</button>
                <br>
                <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagComment(this)" class="flag-button">Flag/Remove-Flag</button>
                <div id="flag-comment-{{.ID}}">
                {{if $comflag}}
                <div class="flagcomment-div">
                <img src="media/flag.png" height="50" width="50">
                </div>
                {{end}}
                </div>
                {{end}}
                {{ if eq $userType "admin"}}
                <form method="POST" action="/delete-comment">
                <input type="hidden" name="item_id" value="{{ .ID }}">
                <input type="hidden" name="url" value="{{ $url }}">
                <button class="delete-button" type="submit">Delete</button>
                </form>
                <div id="modify-comment-{{.ID}}"></div>
                <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyComment(this)" class="edit-button">Edit</button>
                <br>
                <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="flagComment(this)" class="flag-button">Flag/Remove-Flag</button>
                <br>
                <div id="flag-comment-{{.ID}}">
                  {{if $comflag}}
                  <div class="flagcomment-div">
                  <img src="media/flag.png" height="50" width="50">
                  </div>
                  {{end}}
                </div>
                {{end}} 
                </div>
              </div>
                {{end}}
                {{end}}


                {{if eq $userType "user"}}
                {{$isLoggedIn := .IsLoggedIn}}
                {{$currentUser := .currentUserID}} 
                   {{ range .Posts}}
                   {{if eq .UserID $currentUser}}
                   <div class="posts-card">
                      <p class="posts-title" id="title-{{.ID}}">{{ .Title }} {{ .ID }}</p>
                      <p class="posts-description" id="post-{{.ID}}">{{ .Body }}</p>
                      {{ if ne .Media "false"}}
                      <img src="media/{{ .Media}}" class="posts-media">
                      {{end}}
                      <p class="created-at">Posted by: {{ .Username }}</p>
                      <p class="created-at">Created on: {{ .CreatedAt }}</p>
                      <!-- Delete/edit post -->
                      <form method="POST" action="/delete-post">
                         <input type="hidden" name="item_id" value="{{ .ID }}">
                         <input type="hidden" name="url" value="{{ $url }}">
                         <button class="delete-button" type="submit" name="action" value="delete">Delete</button>
                      </form>
                      <div id="modify-post-{{.ID}}"></div>
                      <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyPost(this)" class="edit-button">Edit</button>
                      <br>
                      <!-- Comments Section -->
                      {{if .Comments}}
                      <h3>Comments</h3>
                      <div class="comments-container">
                         {{range .Comments}}
                         <div class="comments-card">
                            <p class="comments-body" id="comment-{{ .ID}}">{{ .Body }}</p>
                            <p class="created-at">Posted by: {{ .Username }}</p>
                            <p class="created-at">Created on: {{ .CreatedAt }}</p>
                            <!-- Delete/edit comment -->
                            {{ if eq .UserID $currentUser}}
                            <form method="POST" action="/delete-comment">
                              <input type="hidden" name="item_id" value="{{ .ID }}">
                              <input type="hidden" name="url" value="{{ $url }}">
                              <button class="delete-button" type="submit">Delete</button>
                              </form>
                              <div id="modify-comment-{{.ID}}"></div>
                              <button data-id="{{ .ID }}" data-url="{{ $url }}" onclick="modifyComment(this)" class="edit-button">Edit</button>
                              {{end}}
                         </div>
                         {{end}}
                      </div>
                      {{end}}
                      {{if $isLoggedIn}}
                      <div class="comment-field-div">
                         <form id="comment-field" action="/commentfield" method="POST">
                            <label for="comment" class="comment-title">
                               <h4>Comment:</h4>
                            </label>
                            <input type ="text" id="comment" name="comment" class="comment-field" required>
                            <input type="hidden" name="postID" value="{{.ID}}">
                            <input type="hidden" name="url" value="{{ $url }}">
                            <input type="submit" value="Send" class="post-button">
                         </form>
                      </div>
                      {{end}}
                   </div>
                   {{end}}
                   {{end}}
                </div>
                {{end}}
            </div>

          </body>
          <footer >
            <div class="copyright">
                <span>Copyright © 2023</span>
                <span>Viktor Veertee & Enri Suimets</span>
            </div>
          </footer>
    </html>

    